.auth{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    &__title{
        font-size: 32px;
        margin-bottom: 10px;
    }
    &__error{
        color: red;
        margin-bottom: 10px;
    }
    &__form{
        width: 40%;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
        margin-bottom: 10px;
    }

    &__link{
        font-size: 18px;
        a{
            color: #0014f4;
        }
    }
}